.main
  .boxApply
    %section
      .titleApply
        %h3 プロジェクトを作成する
      %p.caption
        タイトル、目標金額、期限を入力してください。
      #linkForm.form
        = form_for @project, id: "applyForm" do |f|
          .formIn
            .formInMargin
              / .kakushi
              /   %label
              /     / %input{ type: "radio", value: "1" } 法人
              /   %label
              /     / %input{ type: "radio", value: "2" } 個人
              .kakushi
                %p.inputTitle
                  タイトル
                  %span.requiredTxt 必須
                = f.text_field :title, class: "textInput chkrequired", id: "title", placeholder: "例）日本酒"
              .kakushi
                %p.inputTitle
                  目標金額
                  %span.requiredTxt 必須
                = f.text_field :finalprice, class: "textInput chkrequired", id: "finalprice", placeholder: "例）10,000"
              .kakushi
                %p.inputTitle
                  期限
                  %span.requiredTxt 必須
                = f.text_field :finaldate, class: "textInput chkrequired datepicker", id: "finaldate", placeholder: "例）2016.07.03"
              .kakushi
                %p.inputTitle
                  プロジェクトの詳細
                  %span.requiredTxt 必須
                = f.text_area :description, class: "textInput chkrequired", id: "description", placeholder: "例）みんなでお肉食べよう"
          /     .kakushi
          /       %p.inputTitle
          /         実施したいプロジェクトのカテゴリを選択して下さい
          /       .select
          /         %select#category
          /           %option 選択してください
          /           %option プロダクト
          /           %option ファッション
          /         .chkselect
          /         %i.arrow
          /     .kakushi
          /       %p.inputTitle
          /         SNSアカウント
          /         .sns_ex ※SNSアカウントやあなたを表すWebページを記載して頂くと、プロジェクト審査が通りやすくなります。
          /       %p.inputTitle
          /         https://www.facebook.com/
          /         %input#sns_facebook.sns
          /       %p.inputTitle
          /         https://www.twitter.com/
          /         %input#sns_twitter.sns
          /       %p.inputTile
          /     .kakushi
          /       %p.inputTitle
          /         あなたを表すWebページがございましたらURLを入力してください。
          /       %input.textInput.chkurl#url{ type: "text", placeholder: "例）https://www.makuake.com/" }
          /       %input.textInput.chkurl#url2{ type: "text", placeholder: "例）https://www.makuake.com/" }
          /     .kakushi
          /       %p.inputTitle
          /         Makuake or クラウドファンディングを知った、きっかけを教えてください。
          /         %span.requiredTxt 必須
          /       .checkLabelInner#media
          /         %label.checkLabel
          /           %input{ type: "radio" } Facebook広告/Twitter広告
          /     .kakushi
          /       %p.inputTitle
          /         現在の、プロジェクト状況を教えてください
          /         %span.requiredTxt 必須
          /       .checkLabelInner#media
          /         %label.checkLabel
          /           %input{ type: "radio" } プロジェクト内容・リターンもイメージできていて、すぐにでもページ制作に取り掛かれる
          /       .checkLabelInner#media
          /         %label.checkLabel
          /           %input{ type: "radio" } 詳細は決まっていないので、相談して決めたい
          /       .checkLabelInner#media
          /         %label.checkLabel
          /           %input{ type: "radio" } 何から取り掛かっていいか、わからない
          /     .kakushi
          /       %p.inputTitle.consultation
          /         相談内容
          /         %span.requiredTxt 必須
          /         (最大1000文字)
          /       %textarea#content.textArea
          /   .otherContact
          /     %p プロジェクト掲載以外のご相談に関しましては下記ページからお問い合わせください。
          /     %a{ href: "https://www.makuake" }
          /       https://www.makuake.com/inquiries/add/
          = f.submit "確認して送信", class: "subMit"
.bread-crumb-listBase
  %ul#bread-crumb-list.clearfix
    %li TOP >
    %li プロジェクトを相談する
