.grayBase
  .shopping_bread-crumb-listBase
    .bread-crumb-listBase
      %ul#bread-crumb-list.clearfix
        %li
          %a
            %span TOP >
        %li
          %a
            %span プロジェクト一覧 >
    .tab_wrapper
      .tabNavigation
        %ul.tabNav_menu
          %li
            %a.tab0n プロジェクト
          %li
            %a
              活動レポート
              %i.tabnavicon.tabnavicon--yellow.tabnavicon--new
                NEW!
          %li
            %a
              応援コメント
              %i.tabnavicon.tabnavicon--yellow
                6
        .goodBase_tab
          - unless current_user.favorites.find_by(project_id: @project.id, user_id: current_user.id)
            = render partial: "common/create", locals: { project: @project }
          - else
            = render partial: "common/destroy", locals: { project: @project }

  .heroBase
    %aside.hero
      #media
        .videoIn
          #btn-playBase
          %img{ src: "http://s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com/upload/project/2354/main_2354_690_388.jpg" }
      .pnumBase
        .pnumBaseUp
          .stMoney
            %p.stMoneyTtl
              %i.stMoneyTtlIcon
              %span 集まっている金額
            %p.stMoneyNum
              - if @project.currentprice = ""
                0
              - else
                = @project.currentprice
              %span 円
            %p.stMoneyGoal
              目標金額
              %span
                = @project.finalprice
              %span 円
          .stbar
            - if @project.currentprice?
              .stbarin{ style: "width: #{@project.currentprice*100/@project.finalprice}%" }
                %p
                  = @project.currentprice*100/@project.finalprice
                %p.perce %
            - else
              .stbarin{ style: "width: 0%" }
                %p 0%
          .stSupo
            %p.stSupoTtl
              %i.stSupoTtlIcon
              %span サポーター
            %p.stSupoNum 24人
          .stDay
            %p.stDayttl
              %i.stDayTtlIcon
              %span 残り
            %p.timer.stDayNum#last
              = @difdate
              %span 日
        .pnumBaseDown
          %a#siteBtn
            %p 支援するコースを選択する
  .heroBtmBase
    .heroBtmBaseUp
      %h2.projectTtl 【第2弾】デザインLED電球Siphon 船舶モチーフ「Grande」先行発売！
    .heroBtmBaseDown
      .project_category
        %a.projectTag
          %i.icon_tag
          プロダクト
      .shareSns
        %ul.clearfix
          %li#snsFacebookShare
            .fb-like.fb_iframe_widget
              %span
                %iframe{ src: "https://www.facebook.com/plugins/like.php?app_id=1407034392847669&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FiPrOY23SGAp.js%3Fversion%3D42%23cb%3Df38758648ca7bdc%26domain%3Dwww.makuake.com%26origin%3Dhttps%253A%252F%252Fwww.makuake.com%252Ff2ebe680fa5848%26relation%3Dparent.parent&container_width=0&href=https%3A%2F%2Fwww.makuake.com%2Fproject%2Fsiphon02%2F&layout=button_count&locale=ja_JP&sdk=joey&send=false&show_faces=false&width=111" }
          %li#snsTweetShare
          %li#snsGoogleShare
          %li#snsHatebuShare
          %li#snsAmebaShare
          %li#iframeGet
  #main.clearfix
    #leftContent
      .owner-latest
        %h3.owner-latest_title 実行者の最新投稿
        %span.owner-latest_date 2016.12.21
        %a.owner-latest__more
          %span more >
        %a.balloon-wrapper
          .owner-latest_baloon
            %span.owner-latest-post
              Siphon Grandeのプロジェクトをやっております戸谷と申します。この度はSiphon Grandeのプロジェクトへのご支援本当にありがとう...
            .owner-latest_balloon_triangle
            .owner-latest_balloon_triangle2
        .owner-info
          %img.owner-info_thumb{ src: "http://s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com/upload/user/12799/main_12799_40_40.jpg" }
          .owner-info_name-wrapper
            / - if @project.user.name
            /   = link_to "#{@project.user.name}", user_path(@project.user_id), class: "owner-info_name"
          .owner-contact
            %ul
            .owner-line-divider
            %a.owner-contact_ask.open_contact_window
              %span.owner-contact_title 実行者へ問合せ
      #leftContentMain.leftTextColor
        - if @users
          - @users.each do |user|
            = image_tag(user.images.low_resolution.url)
      %a#sienBtn03.btncol_03
      %aside

    = render partial: "common/courses"

    #scrollContent
      #scrollFb
        .fab-like
          %iframe{ src: "https://www.facebook.com/plugins/like.php?app_id=1407034392847669&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FD6ZfFsLEB4F.js%3Fversion%3D42%23cb%3Df277fca5c8e2b%26domain%3Dwww.makuake.com%26origin%3Dhttps%253A%252F%252Fwww.makuake.com%252Ff94b43088e3e5c%26relation%3Dparent.parent&container_width=0&href=https%3A%2F%2Fwww.makuake.com%2Fproject%2Fkiwaka%2F&layout=box_count&locale=ja_JP&sdk=joey&send=false&show_faces=false&width=71" }
      #scrollTw
        %iframe#twitter-widget-1{ src: "https://platform.twitter.com/widgets/tweet_button.21a54035d226e6309ff10dbaaff7ca1f.ja.html#dnt=false&hashtags=Makuake&id=twitter-widget-1&lang=ja&original_referer=https%3A%2F%2Fwww.makuake.com%2Fproject%2Fkiwaka%2F&size=m&text=%E6%9C%80%E9%AB%98%E7%B4%9A%E7%B4%A0%E6%9D%90%E3%80%8C%E9%87%91%E8%8F%AF%E5%B1%B1%E7%B9%94%E3%80%8D%E3%82%92%E4%BD%BF%E7%94%A8%E3%80%82%E3%82%B8%E3%83%A5%E3%82%A8%E3%83%AA%E3%83%BC%E3%81%AE%E3%82%88%E3%81%86%E3%81%AA%E3%83%90%E3%83%83%E3%82%B0%E3%80%8CKIWAKA%E3%80%8D%E3%82%92%E4%B8%96%E7%95%8C%E3%81%B8%20%7C%20%E3%82%AF%E3%83%A9%E3%82%A6%E3%83%89%E3%83%95%E3%82%A1%E3%83%B3%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0%20-%20Makuake%EF%BC%88%E3%83%9E%E3%82%AF%E3%82%A2%E3%82%B1%EF%BC%89&time=1484124698903&type=share&url=https%3A%2F%2Fwww.makuake.com%2Fproject%2Fkiwaka%2F%3Futm_source%3Dkiwaka%26utm_medium%3Dsns_share_tw&via=makuake_ca" }
      #scrollShienBtnBase
        %a.scrollShienBtn コースを選択
