!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Makuake
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"
  %body
    .wrapper{ style: "min-width: 960px" }
      .alert.alert-warning{ role: "alert", style: "background: #ffe600; text-align: center;" } ログインに成功しました
      / .alert.alert-warning{ role: "alert", style: "background: #ffe600; text-align: center;" } ログアウトに成功しました
      = render partial: "common/header"
      = yield
      = render partial: "common/footer"
